<header id="header">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" [routerLink]="['/default']">
          <img src="../assets/images/logo.png" height="50" style="margin-top: -15px;"/>
        </a>

        <ul *ngIf="identity" class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/login', 1]">
            <span class="fas fa-sign-out-alt" aria-hidden="true"></span> Salir
          </a></li>
        </ul>
        <ul *ngIf="identity" class="nav navbar-nav navbar-right">
          <li><a class="navbar-brand" [routerLink]="['/user']">
            {{identity.name}} {{identity.surname}}
          </a></li>
        </ul>
        <ul *ngIf="!identity" class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/login']">Acceder</a></li>
        </ul>
        <ul *ngIf="!identity" class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/register']">Registro</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="clearfix"></div>

<section class="main">
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
</section>

<footer class="footer">
  <hr/>
  Plataforma de videos
  <hr/>
</footer>
